/* main(home.jsp) */

.mainWrap a {
    color: #000;
}

.mainWrap h2 {
    display: inline;
    line-height: 40px;
}

.mainWrap span {
    float: right;
    font-size: 14px;
    line-height: 40px;
}

.mainWrap p {
    padding: 30px 0;
    color: #aaa;
}

/* login&register(login.jsp, register.jsp) */

/* 공통 */

.loginWrap label {
    margin: 0;
    flex-shrink: 0;
}

.textField {
    padding: 5px;
}

.formControl {
    border: 1px solid #aaa!important;
    width: 250px;
    height: 40px;
    line-height: 30px;
    margin: 10px 0;
}

.btn {
    border: 1px solid #aaa!important;
    margin: 10px auto;
    font-weight: bold;
    font-size: 14px;
    color: #fff!important;
    border-radius: 5px;
    text-align: center;
    background-color:dodgerblue;
    padding: 5px 10px;
}

.formWrap {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.loginWrap .formWrap > div {
    width: 31%;
    line-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

/* 로그인 화면 */
.loginWrap h1{
    text-align: center;
    padding: 30px 0;
    font-size: 48px;
}

.loginFormWrap > div {
    width: 21%!important;
}



/* 회원가입 화면 */

.registerWrap {
    margin-top: 100px;
}


/* 커뮤니티 화면 */

.communityWrap h1 {
    font-size: 38px;
}

/* 게시글 작성 화면 */

.postWrap .formWrap > div{
    width: 100%;
    line-height: 50px;
    display: flex;
    flex-direction: row;
}

.postWrap .formWrap > div *{
    margin: 0;
}

.postWrap .formWrap > div > *:first-child {
    flex-basis: 15%;
}

.postWrap .formWrap > div > *:not(.postWrap .formWrap > div > *:first-child) {
    margin: 5px 5px;
    flex-grow: 1;
}

.buttonWrap {
    justify-content: space-between;
}

.buttonWrap .btn {
    flex-basis: 40%!important;
    flex-grow: 0.8;
    margin: 20px 0 0 0!important;
    
}


/* 그룹 탐색 화면 */

.groupSearchWrap {
	margin-top: 10px;
}

.groupSearchWrap h1 {
    text-align: center;
    font-size: 48px;
}



