<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inhatc.mapper.MemberMapper">

	<insert id="create">
		insert 
			member 
		set 
			memberId = #{memberId}
			, memberPw = #{memberPw}
			, memberFirstName = #{memberFirstName}
			, memberLastName = #{memberLastName}
			, memberNickName = #{memberNickName}
			, memberGenderCd = #{memberGenderCd}
			, memberDob = #{memberDob}
			, memberEmail = #{memberEmail}
	</insert>
	
	<select id="readOne" resultType="com.inhatc.domain.MemberVO">
		select 
			* 
		from 
			member 
		where 
			memberId = #{memberId}
	</select>
	
	<select id="login" resultType="com.inhatc.domain.MemberVO">
		select 
			* 
		from 
			member 
		where 
			memberId = #{memberId} 
		and 
			memberPw = #{memberPw}
	</select>
	
	<update id="update">
		update 
			member 
		set 
			memberNickName = #{memberNickName}
			, memberPw = #{memberPw}
		where 
			memberId = #{memberId}
	</update>
	
	<delete id="updateByDelete">
		update 
			member 
		set 
			memberDelNy = 1 
		where 
			memberId = #{memberId}
	</delete>
	
	
</mapper>